## DBSCAN

In [1]:
import numpy as np
import pandas as pd

In [13]:
def dbscan(df, m, distance):
    NOISE = 0 #метка для шумовых точек
    C = 0 #счетчик кластеров
    visited = set() #для отслеживания посещенных точек
    clustered = set() #для точек, которые уже в кластерах
    clusters = {NOISE: []}

    def region_query(p):
        return [q for q in df.index if distance(df.loc[p], df.loc[q]) < 6]

    def expand_cluster(p, neighbours):
        if C not in clusters:
            clusters[C] = []
        clusters[C].append(p)
        clustered.add(p)
        for q in neighbours:
            if q not in visited:
                visited.add(q)
                neighbourz = region_query(q)
                if len(neighbourz) > m:
                    neighbours.extend(neighbourz)
            if q not in clustered:
                clustered.add(q)
                clusters[C].append(q)
                if q in clusters[NOISE]:
                    clusters[NOISE].remove(q)

    for p in df.index:
        if p in visited:
            continue
        visited.add(p)
        neighbours = region_query(p)
        if len(neighbours) < m:
            clusters[NOISE].append(p)
        else:
            C += 1
            expand_cluster(p, neighbours)

    return clusters

In [3]:
df = pd.DataFrame({'x': [64, 84, 106, 154, 192, 220, 244, 271, 275, 286, 56, 80, 101, 123, 155, 191, 242, 231, 272, 261, 299, 308, 128, 47, 47, 137, 166, 171, 194, 221, 253, 308, 332, 385, 398, 413, 435, 447, 422, 400, 389, 374, 358, 321, 274, 249, 208, 192, 182, 147, 136, 147, 182, 204, 252, 312, 349, 393, 417, 434, 443, 463],
                   'y': [150, 112, 90, 64, 62, 82, 92, 111, 137, 161, 178, 156, 131, 104, 94, 100, 70, 114, 95, 131, 136, 124, 78, 128, 159, 186, 228, 250, 272, 287, 292, 293, 280, 256, 237, 205, 166, 137, 126, 154, 183, 214, 235, 250, 263, 263, 230, 204, 174, 205, 246, 255, 282, 298, 316, 321, 313, 288, 259, 222, 187, 174]})
df

      x    y
0    64  150
1    84  112
2   106   90
3   154   64
4   192   62
..  ...  ...
57  393  288
58  417  259
59  434  222
60  443  187
61  463  174

[62 rows x 2 columns]

In [14]:
m = 5
distance = lambda p1, p2: np.sqrt((p1['x'] - p2['x'])*2 + (p1['y'] - p2['y'])*2)
clusters = dbscan(df, m, distance)

C:\Users\Настя\AppData\Local\Temp\ipykernel_100164\3102671784.py:2: RuntimeWarning: invalid value encountered in sqrt
  distance = lambda p1, p2: np.sqrt((p1['x'] - p2['x'])*2 + (p1['y'] - p2['y'])*2)

In [15]:
for cluster, points in clusters.items():
    print("Кластер:", cluster)
    print("Точки:", points)

Кластер: 0
Точки: [0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 35, 38, 39, 40, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59]
Кластер: 1
Точки: [31, 36, 37, 41, 42]
Кластер: 2
Точки: [33, 34, 55, 60, 61]
Кластер: 3
Точки: [47, 7, 19, 26, 50]